<li class="list-group-item">
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your gmail">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Dang nhap</button>
        <button type="submit" class="btn btn-primary button_right">Dang ki</button>
    </form>
</li>
<li class="list-group-item">
    <h3>Xin chao teo</h3>
    <button type="submit" class="btn btn-primary">Logout</button>

</li>